<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3>Au revoir !</h3>
    <p>
      Votre compte a été supprimé mais vous êtes encore inscrit sur la liste vous permettant de recevoir les newsletters. Pour vous désabonner rendez-vous  <a target="_blank" href="http://qrea.us12.list-manage.com/unsubscribe?u=b23c1fddf43dbfff53bb0795a&id=b7998650bb">ici</a>.
    </p>
    <img class="ui image rounded big" src="https://media3.giphy.com/media/10QbzBy3KKAw36/200.gif" alt="">
  </div>
</div>
