<div class="ui vertical stripe segment">
    <div class="ui text container">        
        
        <h3>Mentions légales</h3>
        <div class="ui divider"></div>
        
        <p>
            <b>Qrea SAS</b><br>
            Société par Actions Simplifiée au capital variable minimum de 16 000€ immatriculé au RCS de Paris.
        </p>
        
        <p>
            <b>Siège social :</b><br>
            17 rue Henry Monnier<br>
            75009 PARIS<br>
        </p>
        
        <p>
            <b>SIRET :</b><br>
            81414105700012
        </p>
        
        <p>
            <b>Contact : </b><br>
            contact@qrea.io
        </p>

        <p>
            <b>Responsable de la publication :</b><br>
            Pierre BOURDU, Directeur Général de Qrea SAS.
        </p>
        
        <p>
            <b>Hébergeur : </b><br>
            Heroku, Inc.
            650 7th Street
            San Francisco, CA
            94103
        </p>
        
        <p>Pour plus d'informations merci de vous reporter aux Conditions Générales d'Utilisation du service.</p>
        
    </div>
</div>