<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable internally celled grid container">
        <div class="row">
			<div class="six wide right floated column">
                <img src="assets/img/qea-600.png" class="ui medium bordered rounded image middle aligned">
            </div>
            <div class="eight wide column">
                <h3 class="ui header"><i class="rocket icon"></i>Activité</h3>
                <p>Spécialisés dans la comptabilité et la gestion commerciale, nous développons des applications innovantes en nous appuyant sur les nouvelles technologies web.</p>
            </div>
        </div>
		<div class="row">
			<div class="six wide right floated column">
                <img src="" class="ui medium bordered rounded image middle aligned">
            </div>
            <div class="eight wide column">
                <h3 class="ui header"><i class="rocket icon"></i>Bientôt disponible</h3>
                <p>Spécialisés dans la comptabilité et la gestion commerciale, nous développons des applications innovantes en nous appuyant sur les nouvelles technologies web.</p>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button">Check Them Out</a>
            </div>
        </div>
        -->
    </div>
</div>