<div class="ui inverted vertical footer segment" style="padding-left: 1em">
    <div class="ui stackable inverted divided equal height stackable grid container">
        <div class="three wide column">
            <h4 class="ui inverted header">A propos</h4>
            <div class="ui inverted link list">
                <a ng-href="#/pages/mentions-legales" class="item">Mentions légales</a>
                <a ng-href="#/pages/cgu" class="item">CGU</a>
            </div>
        </div>
        <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
                <a ng-href="#/pages/presse" class="item">Presse</a>
                <a ng-href="#/documentation" class="item">Documentation</a>
                <!--<a ng-href="#" class="item">FAQ</a>-->
            </div>
        </div>
        <div class="six wide column">
            <h4 class="ui inverted header">Retrouvez-nous sur les réseaux sociaux</h4>
            <div class="ui stackable grid">
                <div class="row">
                    <div class="column sixteen wide mobile sixteen wide tablet sixteen wide computer">
                        <div class="ui container">
                            <a href="http://www.facebook.com/qrea.io" target="blank" class="ui circular facebook icon button" style="margin-top:5px;">
                                <i class="facebook icon"></i>
                            </a>
                            <a target="blank" href="https://twitter.com/qrea_io" class="ui circular twitter icon button" style="margin-top:5px;">
                                <i class="twitter icon"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/qrea-sas" target="blank" class="ui circular linkedin icon button" style="margin-top:5px;">
                                <i class="linkedin icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="four wide column">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="column sixteen wide mobile sixteen wide tablet sixteen wide computer">
                        <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.qrea.io' target='_blank' rel='nofollow'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
