<div class="ui facture vertical stripe segment">
</div>

<div id="mobile-facture" class="ui vertical stripe segment" style="padding-left:0.5em;padding-right: 0.5em">
  <h2>#facture</h2>
  <img 
    class="ui fluid padded image bordered" src="assets/img/Facture 201600016-1.png"/>
</div>

<div class="ui vertical stripe segment">
  
  <div class="ui aligned stackable grid container">
    <div class="row">

      <!-- COLUMN TEXT -->
      <div class="eight wide column">
        <h3 class="ui header">Qrea
          <i class="rocket icon"></i>votre entreprise</h3>
        <p>Nous développons un logiciel de facturation gratuit en nous appuyant sur les nouvelles technologies web.</p>
      </div>

      <!-- COLUMN FACTURE -->
      <div class="eight wide column">
        <h3 class="ui header">Qrea
          <i class="empty heart icon"></i>Startup</h3>
        <p>Entreprises et entrepreneurs, rejoignez Qrea et concentrez-vous sur votre cœur de métier, votre valeur ajoutée.</p>
      </div>

    </div>
  </div>

</div>

<!-- Page Contents -->
<!--
<div id="qrea-video" class="ui vertical stripe segment">
  <div class="ui aligned stackable grid container">
    <div class="row">
      <div class="column sixteen wide">
        <qrea-video params="ctrl.paramsVideo"></qrea-video>
      </div>
    </div>
  </div>
</div>
-->
<div id="qrea-fonctionnalites" class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Qrea
      <i class="ui icon map"></i>votre gestion commerciale</h3>
    <p>
      Une gestion commerciale en toute simplicité, en temps réel et accessible partout. Suivez votre activité en quelques clics.
    </p>
    <ul style="list-style-type: none">
      <li>
        <p>
          <i class="ui green icon checkmark"></i>
          Tableau de bord : chiffre d’affaires, dû client, retard de paiement ;</p>
      </li>
      <li>
        <p>
          <i class="ui green icon checkmark"></i>
          Devis & Factures illimités ;</p>
      </li>
      <li>
        <p>
          <i class="ui green icon checkmark"></i>
          Suivi du paiement de vos factures ;</p>
      </li>
      <li>
        <p>
          <i class="ui green icon checkmark"></i>
          Suivi de la TVA collectée ;</p>
      </li>
    </ul>
  </div>
</div>

<div id="qrea-expert-comptable" class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">
      <i class="student icon"></i>
      Experts-Comptables, entretenez le lien avec vos clients
    </h3>
    <p>
      En créant un compte sur Qrea vous pouvez créer et modifier les entreprises de vos clients.
    </p>
    <p>
      En quelques clics :
      <ul  style="list-style-type: none">
        <li>
          <p>
            <i class="ui green icon checkmark"></i>
            Vous créez un accès à votre client ;
          </p>
        </li>
        <li>
          <p>
            <i class="ui green icon checkmark"></i>
            Vous accédez à leur ventes en temps réel ;
          </p>
        </li>
        <li>
          <p>
            <i class="ui green icon checkmark"></i>
            Vous suivez leur TVA collectée simplement ;
          </p>
        </li>
        <li>
          <p>
            <i class="ui green icon checkmark"></i>
            Vous téléchargez leur ventes ;
          </p>
        </li>
        <li>
          <p>
            <i class="ui green icon checkmark"></i>
            Vous intégrez les écritures en comptabilité.
          </p>
        </li>
      </ul>
    </p>
    <a ng-href="https://qrea.herokuapp.com/#/qrea/inscription-expert" class="ui big green animated button" tabindex="0">
      <div class="visible content">Créer votre accès expert-comptable !</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </a>
    <!--<a ng-href="#/qrea/inscription-expert" class="ui large button">Créer votre accès expert-comptable !</a>-->
  </div>
</div>

<!--
<div id="qrea-tarifs" class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">
      <i class="money icon"></i>
      C'est gratuit
    </h3>
    <p>
      Une offre unique, un tarif unique : c'est gratuit, alors rejoignez-nous !
    </p>
    <a ng-href="https://qrea.herokuapp.com/#/qrea/inscription" class="ui large violet button">C'est parti !</a>
    <div class="ui horizontal divider"></div>
    <h3 class="ui header">
      <i class="cloud icon"></i>
      Restez connectés</h3>
    <p>Qrea est une application web accessible partout et sur tous les supports : ordinateur, tablette, smartphone.</p>
    <p>Aucune installation n'est nécessaire, l’application est sécurisée.</p>
  </div>
</div>
-->

<div id="qrea-equipe" class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">
      Comptabilité <i class="ui icon add circle"></i> Code
    </h3>
    <p>Pierre et Clément préparent le Diplôme d'Expert-Comptable. Ils ont fondé Qrea en mêlant leur rigueur et leur gôut pour le code et l'innovation.</p>
    <p>Mathilde a ensuite rejoint l'aventure en tant que community manager.</p>
    <p>
      Pour nous contacter utilisez l'adresse contact@qrea.io
    </p>
    <div class="ui divider hidden"></div>
    <div class="ui divider"></div>
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>

  </div>
  <div class="ui equal width stackable grid container">
    <div class="aligned row">
      <div class="center aligned column">
        <h3>Pierre</h3>
        <div class="ui small circular rotate reveal image" style="margin:auto">
          <img src="/assets/img/pierre-nb-compressor.jpg" class="visible content">
          <a target="_blank" href="https://fr.linkedin.com/in/pbourdu">
            <img src="/assets/img/In-Black-128px-TM.png" class="hidden content">
          </a>
        </div>
      </div>
      <div class="center aligned column">
        <h3>Clément</h3>
        <div class="ui small circular rotate reveal image" style="margin:auto">
          <img src="/assets/img/clement-nb-compressor.jpg" class="visible content">
          <a target="_blank" href="https://fr.linkedin.com/pub/clément-dornier/59/3a8/3b2">
            <img src="/assets/img/In-Black-128px-TM.png" class="hidden content">
          </a>
        </div>
      </div>
      <div class="center aligned column">
        <h3>Mathilde</h3>
        <div class="ui small circular rotate reveal image" style="margin:auto">
          <img src="/assets/img/mathilde-nb-compressor.jpg" class="visible content">
          <a target="_blank" href="https://fr.linkedin.com/in/mathilde-serre-2b2388b1">
            <img src="/assets/img/In-Black-128px-TM.png" class="hidden content">
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- CITATION DES REFERENCES ICI -->
<div class="ui vertical stripe segment">

  <div class="ui aligned stackable grid container">
    <div class="row">
      <h3 class="ui header">
        <i class="newspaper icon"></i>
        Ils parlent de nous...</h3>
    </div>

    <div class="row">
      <div class="ui images">

        <a class="ui medium spaced image" style="margin-right: 20px" href="http://www.info-eco.fr/qrea-veut-faciliter-la-facturation-des-tpe/453147" target="_blank">
          <img src="http://www.info-eco.fr/images/logo.png">
        </a>

        <a class="ui medium spaced image" style="margin-right: 20px" href="http://www.maddyness.com/outils/2016/02/11/maddytools-qrea/" target="_blank">
          <img src="/assets/img/logo-maddyness.png">
        </a>

        <a class="ui image spaced small" style="margin-right: 20px" href="http://bonjouridee.com/qrea/" target="_blank">
          <img src="http://i0.wp.com/bonjouridee.com/wp-content/uploads/2014/01/badge-sdla16-participant.png?resize=300%2C300">
        </a>

        <a class="ui image spaced small" style="margin-right: 20px" href="http://www.journaldesprofessionnels.fr/qrea-logiciel-facturation-gratuite-illimitee-dune-start-up-poitiers/" target="_blank">
          <img src="http://www.journaldesprofessionnels.fr/wp-content/themes/journaldesprofessionnels/img/logos/logo.png">
        </a>

        <a class="ui image spaced medium" style="margin-right: 20px"
          href="http://www.compta-online.com/-entrepreneuriat-va-bouleverser-le-domaine-de-la-comptabilite-ao1714" target="_blank">
          <img src="http://www.compta-online.net/images-logo/logo-compta-online-350-png8.png">
        </a>

        <a class="ui image spaced small" style="margin-right: 20px"
          href="http://simpleashello.fr/qrea-la-facturation-simplifiee/" target="_blank">
          <img src="http://simpleashello.fr/wp-content/uploads/2015/09/Logo_SimpleAsHello12-e1442868412884.png">
        </a>

      </div>
    </div>

  </div>
</div>
